---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="bg-black border-b border-base-200 dark:border-base-800 flex items-center min-h-[50vh]">
  <Wrapper variant="standard" class="py-12">
    <div class="grid grid-cols-1 items-start gap-y-8">
      <Text
        tag="h1"
        variant="displayXL"
        class="font-semibold leading-snug text-justify tracking-tighter text-white"
      >
        Nerd Church is a bridge from imagination to impact—turning creative passion into partnerships, advocacy, and support that advance equity, accessibility, and real community change.
      </Text>
    </div>
  </Wrapper>
</section>
