backend:
  name: test-repo

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "posts"
    label: "Blog Posts"
    folder: "src/content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Publish Date", name: "publishedAt", widget: "datetime" }
      - { 
          label: "Category", 
          name: "category", 
          widget: "select", 
          options: ["Engineering", "Design", "Product", "Uncategorized"]
        }
      - { 
          label: "Tags", 
          name: "tags", 
          widget: "list", 
          required: false
        }
      - { label: "Draft", name: "draft", widget: "boolean", default: false, required: false }
      - { label: "Body", name: "body", widget: "markdown" }
