---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Scripts
import ClockScript from "@/components/fundations/scripts/ClockScript.astro";
---

<footer>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b pt-8 pb-24 border-base-200"
    >
      <Text tag="h3" variant="textSM" class="text-base-900 font-bold uppercase">
        Helsinki, Finland
        <span id="clock" class="block text-base-600 text-xs"> </span>
      </Text>
      <div class="lg:col-span-2 space-y-4">
        <Text
          tag="p"
          variant="textXS"
          class="text-base-900 font-bold uppercase"
        >
          © Copyright Lexington Themes <span id="year"></span>. All rights
          reserved. Designed and built in the Åland Islands by Michael
          Andreuzza.
        </Text>
        <Text
          tag="a"
          variant="textXS"
          class="text-base-900 hover:text-base-500 font-bold uppercase"
          href="/system/overview"
        >
          Pages overview</Text
        >
      </div>
    </div>
  </Wrapper>
</footer>
<ClockScript />
