---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const links = [
  { href: "https://donate.stripe.com/test_your_link", text: "Support", external: true },
  { href: "https://discord.gg/TFnwuGB5", text: "Discord", external: true },
  { href: "https://github.com/mxchestnut/nerdguild", text: "Github", external: true },
];
---

<nav class="bg-white dark:bg-base-950 fixed top-0 z-10 w-full">
  <Wrapper variant="standard" class="py-2">
    <div class="grid grid-cols-2 items-start">
      <Text
        tag="p"
        variant="textXS"
        class="text-base-600 dark:text-base-300 tracking-tight font-base"
      >
        Nerdchurch Partners Corporation
      </Text>
      <div class="flex gap-8 text-sm items-center ml-auto">
        {
          links.map((link) => (
            <a
              href={link.href}
              target={link.external ? "_blank" : undefined}
              rel={link.external ? "noopener noreferrer" : undefined}
              class="text-base-600 dark:text-base-300 tracking-tight text-xs hover:opacity-70 transition-opacity"
            >
              {link.text}
            </a>
          ))
        }
      </div>
    </div>
  </Wrapper>
</nav>
